html, body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
	-webkit-user-select: none;
	box-sizing: border-box;
	cursor: default;
}

.patch {
	font-family: "dejavu sans mono", "liberation mono", monospace;
	margin: 0;
	display: table;
	width: 100%;
	-webkit-user-select: initial;
	tab-size: 4;

	border-radius: 0.6em;
	border-width: 2px;
	border-color: #dedede;
	border-style: solid;

	padding: 8px;
	margin-top: 1em;
	margin-bottom: 2em;
	box-sizing: border-box;
}

.patch .hunk {
	background-color: #ececec;
}

.patch table {
	border-collapse:collapse;
}

.patch tr:first-child td:nth-child(-n+2) {
	border-width: 1px 1px 0 1px;
}

.patch tr:last-child td:nth-child(-n+2) {
	border-width: 0 1px 1px 1px;
}

.patch td:nth-child(-n+2) {
	border-width: 0 1px 0 1px;
	border-color: #dddddd;
	border-style: solid;

	background-color: #ececec;
	text-align: right;
}

.patch td:nth-child(4) {
	white-space: pre;
	width: 100%;
}

.patch .new td:nth-child(n+3) {
	background-color: #ddffdd;
	color: #06772c;
}

.patch .old td:nth-child(n+3) {
	background-color: #ffeeee;
	color: #bb0704;
}

.client-view {
	display: flex;
	flex-flow: row nowrap;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.diff-view {
	padding: 5px;
	overflow: auto;
}

.refs-view {
	flex: 0 0 auto;
	padding: 5px;
	max-width: 30vw;
	min-width: 15rem;
	background-color: #eef1f1;
	border-right: 1px solid #d5d5d5;
}

.refs-view .stage {
	background-image: url(assets/stage.svg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.5em;
	margin-left: 0.5rem;
}

.refs-view .local-branch {
	flex: 0 0 auto;
	background-image: url(assets/branch.svg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1.5em;
	margin-left: 0.5rem;
}

.refs-view .active-ref .active-badge {
	flex: 1 1 auto;
	background-image: url(assets/active.svg);
	background-position: right center;
	background-repeat: no-repeat;
	min-width: 2em;
}

.refs-view .branch-line {
	display: flex;
	flex-flow: row nowrap;
}

.refs-view .title {
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.refs-view .section {
	margin-bottom: 0.5rem;
}

.refs-view .selected {
	background-color: #ccd7da;
}

.refs-view .stage-line, .refs-view .branch-line {
	padding: 2px;
}

.splitter-view {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
}

.splitter-top {
	flex: 1 1 auto;
}

.splitter-bottom {
	flex: 0 0 auto;
}

.splitter-bar {
	flex: 0 0 auto;
	background: linear-gradient(#fcfcfc, #e0e0e0);
	height: 5px;

	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #a8a8a8;
	padding: 1px;
	cursor: row-resize;
}

.splitter-bar:hover, .splitter-bar.dragged {
	background: linear-gradient(#ddd, #bbb);
}

.splitter-dot {
	width: 4.5px;
	height: 4.5px;
	border-radius: 50%;
	margin: auto;
	background: linear-gradient(#afafaf, #cfcfcf);
}

.splitter-dot:hover, .splitter-bar:hover .splitter-dot, .dragged .splitter-dot {
	background: linear-gradient(#ddd, #fff);
}

.history-view {
	display: flex;
	flex-flow: column nowrap;
	box-sizing: border-box;
}

.history-view .header {
	flex: 0 0 auto;
	padding-right: 16px;
	border-bottom: solid #d8d8d8 1px;
	padding-top: 2px;
}

.history-view .wrapper td {
	padding: 0;
}

.history-view .wrapper {
	flex: 1 1 auto;
	overflow: auto;
}

.history-view .wrapper tr:nth-child(2n) {
	background-color: #f4f4f4;
}

.history-view img {
	vertical-align: middle;
	height: 1.65em;
}

.history-view .commit-line {
	width: 98%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.history-view td, .history-view th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.history-view th {
	text-align: left;
	font-weight: normal;
}

.history-view table {
	width: 100%;
	table-layout: fixed;
	border-collapse:collapse;
}

.history-view .short-hash {
	width: 6em;
}

.history-view .date {
	width: 14em;
}

.history-view .author {
	width: 9em;
}

.history-view table td.short-hash {
	font-family: "Lucida Console", Monaco, monospace;
}
