<div class="subject">{{subject}}</div>
{{#if body}}
<div class="body">{{body}}</div>
{{/if}}
<div class="file-section">
	{{#each files}}
	<div class="files">
		<span class="file" id='{{id}}'>{{file}}</span>
	</div>
	{{/each}}
</div>
