<div class="index-header">Commit Message</div>
<textarea  class="message"></textarea>
<div class="commit-buttons">
	<label><input type="checkbox" />Amend</label>
	<button class="commit-button">Commit</button>
</div>
