<div class="repo-list">
	<div class="all-items">{{#each repos}}
	<div class="repo-item">
		<div class="repo-name">{{name}}</div>
		<div class="repo-path">{{path}}</div>
		<div class="repo-rm"><img src="assets/delete.svg"></div>
	</div>
	{{/each}}</div>
	<div class="no-recent">Welcome to Gwitch</div>
</div>
<div class="repo-button">
	<button type="button">Open Repository</button>
</div>
