<div class="refs-sect">
<div class="working section">
	<div class="title">{{title}}</div>
	<div class="stage-line">
		<div class="stage">Stage</div>
	</div>
</div>
<div class="branches section">
	<div class="title">Branches</div>
	{{#each branches}}
	{{#if isRemote}}
	{{else}}
	<div class="branch-line">
		<div class="local-branch">{{name}}</div>
		<div class="active-badge" />
	</div>
	{{/if}}
	{{/each}}
</div>
<div class="remotes section">
	<div class="remote-title title">Remotes</div>
</div>
<div class="tags section">
	<div class="tags-title title">Tags</div>
</div>
</div>
<div class="nav-buttons">
	<button class="show-recent">
		<svg viewBox="0 0 24 24"><path d="M 2 12 l 10 10 l 0 -6.5 l 10 0 l 0 -7 l -10 0 l 0 -6.5 z" /></svg>
	</button>
</div>
